body {
	margin: 0;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.select-section, .enemy-section, .fight-section {
	width: 55%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	flex-wrap: wrap;
}
.select-section, .enemy-section {
	margin-top: 35px;
	margin-bottom: 35px;
	background: rgba(128,128,128,0.8);
	padding: 30px;
	text-align: center;
}
.fight-section {
	margin-top: 35px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding: 15px;
}
.attack img {
	height: 100px;
	margin-top: 125px;
}
.name, .health {
	color: #fff;
	font-size: 26px;
	margin-bottom: 15px;
}
.fight-section {
	background: rgb(128,128,0, 0.7);
	min-height: 350px;
}
.select-section img, .enemy-section img{
	height: 150px;
}
img {
	height: 300px;
	margin: auto;
}
.messages {
	text-align: center;
	background: yellowgreen;
	margin: 0;
	padding: 1px;
	font-size: 21px;
}
.messages p {
	font-weight: 900;
}
.messages span {
	font-weight: 300;
}